@model databasewithviews.Models.Customer

@{
    ViewData["Title"] = "create";
}

<h2>create</h2>
@Html.AntiForgeryToken();
@if(ViewBag.msg != null && ViewBag.msg!= " ")
{
    <h1 class="alert alert-success">
        @ViewBag.msg
        </h1>
}
<form asp-action="create">
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerProjname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerProjname" class="form-control" />
                <span asp-validation-for="CustomerProjname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerCity" class="form-control" />
                <span asp-validation-for="CustomerCity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="/main">Back to main menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(function () {
            $('h1').fadeOut(5000).fadeIn(5000);
            $('#CustomerName').datepicker();
            $('h2').draggable();
            
        });

    </script>

}
