
<h1 class="alert alert-info"><span class="glyphicon glyphicon-briefcase">
   </span> @ViewBag.messsage
    </h1>

<a href="Employees/main" class="btn btn-info"> Employees </a>
<a href="Customers/main" class="btn btn-info"> Customers </a>
<a href="Organization/main" class="btn btn-info"> Organization </a>